@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 204 19% 26%;
    --card: 0 0% 100%;
    --card-foreground: 204 19% 26%;
    --popover: 0 0% 100%;
    --popover-foreground: 204 19% 26%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 60% 97%;
    --secondary: 120 25% 90%;
    --secondary-foreground: 204 19% 26%;
    --muted: 120 25% 95%;
    --muted-foreground: 204 19% 45%;
    --accent: 120 25% 90%;
    --accent-foreground: 204 19% 26%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 88%;
    --input: 120 10% 88%;
    --ring: 120 25% 65%;
    --chart-1: 120 25% 65%;
    --chart-2: 120 25% 55%;
    --chart-3: 120 25% 45%;
    --chart-4: 120 25% 35%;
    --chart-5: 120 25% 25%;
    --sidebar-background: 240 100% 98%;
    --sidebar-foreground: 204 19% 26%;
    --sidebar-primary: 120 25% 65%;
    --sidebar-primary-foreground: 120 60% 97%;
    --sidebar-accent: 120 25% 90%;
    --sidebar-accent-foreground: 204 19% 26%;
    --sidebar-border: 120 10% 88%;
    --sidebar-ring: 120 25% 65%;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 60% 97%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 120 25% 65%;
    --chart-1: 120 25% 65%;
    --chart-2: 120 25% 55%;
    --chart-3: 120 25% 45%;
    --chart-4: 120 25% 35%;
    --chart-5: 120 25% 25%;
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 120 25% 65%;
    --sidebar-primary-foreground: 120 60% 97%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 120 25% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
